<div class="header">
  <label>Contact List</label>
</div>

<div class="container">
      <div ng-repeat="driver in drivers">
          <div class="col-md-3 col-lg-3 col-sm-4 col-xs-6">
              <div class="driver-container" ng-mouseleave="hideMoreDetails($event)">
              
                <div class="img-container">
                  <img class="profile-image" ng-src="{{driver.profile_image}}"/>
                </div>
                <img class="driver-type" ng-src="{{getImg(driver)}}" ng-mouseover="revealMoreDetails($event)" />

                <div class="details">
                  <label class="name">{{driver.name}}</label>
                  <label>Rank: {{ driver.driverRank }}</label>

                   <div class="more-details">
                    <label>Phone Number: {{driver.phone}}</label>
                    <label>Email: {{ driver.email }}</label>
                  </div>
                </div>


              </div>
          </div>
      </div>


</div>

